<div id="<%= dom_id blog %>">
  <span class="card-title">
    <%= blog.title %>
  </span>

  <p style="word-break: break-all">
    <%= blog.description %>
  </p>

  <p>
    <div>
    Post by
    <strong><%= User.find_by(id: blog.user_id).name %></strong>
    </div>
  </p>

</div>
