<div id="<%= dom_id blog %>">
  <span class="card-title">
    <%= blog.title %>
  </span>

  <p>
    <%= blog.description %>
  </p>

  <p>
    <div>
    <%= User.find_by(id: blog.user_id).email %>
    </div>
  </p>

</div>
