 /*
 *= require_tree .
 *= require_self
 */

@import "materialize";

.btn{
    margin-top: 5px;
    margin-left: 5px;
}
.card{
    border-radius: 10px;
}
.card-action{
    padding: 10px 24px !important;
    border-radius: 10px !important;
}
.card-action p{
    margin: 5px 0;
}